{% extends 'site.html.twig' %}

{% block title %}
    {{ course.title is defined ? course.title : course.label }}
{% endblock %}

{% block content %}
    <section class="content">
        <div class="container-fluid">
            <div class="d-flex align-items-center justify-content-start gap-3">
                <h1>{{ course.title is defined ? course.title : course.label }}</h1>
                <i class="menu-icon tf-icons bx {{ isFavorite ? 'bxs-star' : 'bx-star' }}"
                   style="transform: translateY(-5px);"></i>
            </div>
            <div class="row">
                <!-- Main course card -->
                <div class="col-md-9">
                    <div class="card">
                        {% if course.videoPathName is defined and  course.videoPathName is not empty %}
                            <video class="card-img-top" controls>
                                <source src="{{ generate_cloud_url(course.videoPathName) }}" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                        {% else %}
                            {% set cover = course.image_480x270 is defined and course.image_480x270 is not empty ? course.image_480x270 : asset(random(['images/php_Elephant.jpg', 'images/php_Elephant_V2.jpg', 'images/php_Elephant_V3.jpg'])) %}
                            <img class="card-img-top" src="{{ cover }}" alt="image of the course"
                                 style="height: 270px; object-fit: cover;">
                        {% endif %}
                        <div class="card-body">
                            {% if course.description %}
                                <p class="card-text">{{ course.description|raw }}</p>
                            {% endif %}
                            <a href="{{ path('app_course_add_section', {'id': course.id}) }}" class="btn btn-primary"><i
                                        class="menu-icon tf-icons bx bx-plus"></i> section</a>
                            <a href="{{ path('app_favorite_toggle', {'id': course.id}) }}"
                               class="btn btn-outline-warning"><i class="menu-icon tf-icons bx bx-minus"></i><i
                                        class="menu-icon tf-icons bx bx-plus"></i> Favoris</a>
                            {% if course.sections %}
                                <div class="accordion mt-3" id="accordionExample">
                                    {% for section in course.sections %}
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="heading{{ loop.index }}">
                                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                                        data-bs-target="#collapse{{ loop.index }}" aria-expanded="true"
                                                        aria-controls="collapse{{ loop.index }}">
                                                    <strong>{{ section.title }}</strong>
                                                </button>
                                            </h2>
                                            <div id="collapse{{ loop.index }}" class="accordion-collapse collapse"
                                                 aria-labelledby="heading{{ loop.index }}"
                                                 data-bs-parent="#accordionExample">
                                                <div class="accordion-body">
                                                    {{ section.description|raw }}
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <!-- Author and Category card -->
                <div class="col-md-3">
                    <div class="card card-outline">
                        <div class="card-header">
                            <h5 class="card-title">Details</h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text">
                                <strong>Auteur:</strong> {{ course.author is defined and course.author is not null ? course.author.name : 'Not available' }}
                            </p>
                            <p class="card-text">
                                <strong>Categorie:</strong> {{ course.category is defined and course.category is not null ? course.category.label : 'Not available' }}
                            </p>
                            {% if course.url is defined and course.url is not null %}
                                <a href="https://www.udemy.com/{{ course.url }}" target="_blank">Read in UDEMY</a>
                            {% endif %}
                        </div>
                        <div class="card-header">
                            <h5 class="card-title">Pièces jointes ({{ course.medias|length }})</h5>
                        </div>
                        <div class="card-body">
                            {% if course.medias and course.medias|length > 0 %}
                                <ul class="list-group">
                                    {% for media in course.medias %}
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            <a href="{{ generate_cloud_url(media.fileName) }}"
                                               download="{{ media.fileName }}">
                                                <i class="fas fa-file-download"></i> {{ media.fileName }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                <p>Aucune pièce jointe disponible.</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block custum_css %}
    <style>
        .favorite {
            color: yellow;
        }

        .not-favorite {
            color: grey;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        document.getElementById('favorite-toggle').addEventListener('click', function (e) {
            e.preventDefault();

            const isFavorite = document.querySelector('#favorite-toggle i').classList.contains('favorite');
            const url = isFavorite ? '{{ path('app_favorite_remove', {'id': course.id}) }}' : '{{ path('app_favorite_toggle', {'id': course.id}) }}';

            fetch(url, {
                method: 'POST',
                headers: {
                    'X-Requested-With': 'XMLHttpRequest',
                    'Content-Type': 'application/json'
                }
            })
                .then(response => response.json())
                .then(data => {
                    if (data.status === 'success') {
                        const icon = document.querySelector('#favorite-toggle i');
                        if (isFavorite) {
                            icon.classList.remove('favorite');
                            icon.classList.add('not-favorite');
                            $(document).Toasts('create', {
                                class: 'bg-danger',
                                title: 'Favoris mis à jour',
                                body: 'Ce cours a été retiré des favoris avec succès!'
                            });
                        } else {
                            icon.classList.remove('not-favorite');
                            icon.classList.add('favorite');
                            $(document).Toasts('create', {
                                class: 'bg-success',
                                title: 'Favoris mis à jour',
                                body: 'Ce cours a été ajouté aux favoris avec succès!'
                            });
                        }
                    } else {
                        $(document).Toasts('create', {
                            class: 'bg-danger',
                            title: 'Erreur',
                            body: 'Une erreur est survenue lors de la mise à jour des favoris. Veuillez réessayer.'
                        });
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    $(document).Toasts('create', {
                        class: 'bg-danger',
                        title: 'Erreur',
                        body: 'Une erreur réseau est survenue. Veuillez vérifier votre connexion Internet.'
                    });
                });
        });
    </script>
{% endblock %}
