{% extends 'site.html.twig' %}
{% block title %}Courses{% endblock %}
{% import 'macros/header.html.twig' as header %}
{% block page_header %}
    {{ header.main_page_header('Catalogue des cours') }}
{% endblock page_header %}
{% block content %}
    <div class="row">
        <div class="col-3">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Catégories</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body p-0">
                    <ul class="nav nav-pills flex-column">
                        <li class="nav-item active">
                            <a href="#" class="nav-link">
                                <i class="fas fa-inbox"></i> Inbox
                                <span class="badge bg-primary float-right">12</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="far fa-envelope"></i> Sent
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="far fa-file-alt"></i> Drafts
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="fas fa-filter"></i> Junk
                                <span class="badge bg-warning float-right">65</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="far fa-trash-alt"></i> Trash
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="col-9">
            <div class="row">
                {% if pagination  is defined and pagination is not empty %}
                    {% for course in pagination %}
                        <div class="col-6">
                            {{ component('CourseItem', {course: course, favoriteCourses: favoriteCourses}) }}
                        </div>
                    {% endfor %}
                    {% if pagination | length > 8 %}
                        <div class="pagination">
                            {{ knp_pagination_render(pagination) }}
                        </div>
                    {% endif %}
                {% else %}
                    <div class="alert alert-warning" role="alert">
                        Pas de cours dispoinible
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
{% block custom_css %}
    <link rel="stylesheet" href="{{ asset('plugins/toastr/toastr.min.css') }}">
{% endblock custom_css %}
{% block custom_js %}
    {{ parent() }}
    <script src="{{ asset('plugins/toastr/toastr.min.js') }}"></script>
    <script src="{{ asset('controllers/favorite.manager.js') }}"></script>
{% endblock custom_js %}
