{# templates/course/last_four_courses.html.twig #}

{% extends 'site.html.twig' %}

{% block title %}Derniers cours{% endblock %}
{% block custum_css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<style>
    .small-box {
        margin-bottom: 20px; /* Ajouter une marge en bas */
    }
</style>
{% endblock %}

{% block content %}
   {% if lastFourCourses is not empty %}
   <div class="card-body">
        <div class="row">
            {% for viewHistory in lastFourCourses %}
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="small-box bg-light">
                        <div class="inner">
                            <h3>{{ viewHistory.getUser() }} </h3>
                            <p> <i class="fa-solid fa-calendar-days"></i>: "{{ viewHistory.getDateView()|date('Y-m-d H:i:s') }}"</p>
                             <p><i class="fa-solid fa-user"></i>: "{{ viewHistory.getCourse().getAuthor().getName() }}"</p>
                            <p><i class="fa-solid fa-book-open"></i>: "{{ viewHistory.getCourse().getLabel() }}"</p>
                             <p><i class="fa-solid fa-eye"></i>: "{{ viewHistory.getCourse().getViews() }}"</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-stats-bars"></i>
                        </div>
                        <a href="#" class="small-box-footer">
                            More info <i class="fas fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
        </div>
    {% else %}
        <div class="alert alert-warning" role="alert">
            Aucun cours disponible pour le moment.
        </div>
    {% endif %}
{% endblock %}
