{% extends 'site.html.twig' %}

{% block title %}Cours{% endblock %}

{% block content %}
    <section class="content">
        <div class="container-fluid">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Create New Course</h3>
                </div>
                <div class="row">
                    {{ form_start(form,{'attr': {'enctype': 'multipart/form-data'}}) }}
                    <div class="card-body">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Label</label>
                            {{ form_widget(form.label, {'attr': {'class': 'form-control', 'placeholder': 'Label'}}) }}
                        </div>
                        <div class="form-group">
                            <label>Description</label>
                            {{ form_widget(form.description, {'attr': {'id': 'editor'}}) }}
                        </div>
                        <div class="form-group">
                            <label>categories</label>
                            {{ form_widget(form.category, {'attr': {'class': 'form-control', 'placeholder': 'categories'}}) }}
                        </div>
                        <div class="form-group">
                            <label>Vidéo</label>
                            {{ form_widget(form.videoPath, {'attr': {'class': 'form-control'}}) }}
                        </div>
                         <div class="form-group">
                            <label>Pièces jointes</label>
                            <div id="course_medias" data-prototype="{{ form_widget(form.medias.vars.prototype)|e('html_attr') }}">
                                {% for mediaForm in form.medias %}
                                    <div class="form-group">
                                        {{ form_widget(mediaForm.fileName, {'attr': {'class': 'form-control'}}) }}
                                        
                                    </div>
                                    <button type="button" class="remove-media btn btn-danger mt-2">Remove</button>
                                {% endfor %}
                            </div>
                            <button type="button" class="add_media_link btn btn-secondary mt-2">Add Media</button>
                            
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block custum_js %}
    <script src="https://cdn.tiny.cloud/1/{{ key }}/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    tinymce.init({
        selector: 'textarea',
        plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed linkchecker a11ychecker tinymcespellchecker permanentpen powerpaste advtable advcode editimage advtemplate ai mentions tinycomments tableofcontents footnotes mergetags autocorrect typography inlinecss markdown',
        toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
        tinycomments_mode: 'embedded',
        tinycomments_author: 'Author name',
        mergetags_list: [
            { value: 'First.Name', title: 'First Name' },
            { value: 'Email', title: 'Email' },
        ],
        ai_request: (request, respondWith) => respondWith.string(() => Promise.reject("See docs to implement AI Assistant")),
    });
    $(document).ready(function() {
        let collectionHolder = $('div#course_medias');
        let addMediaButton = $('.add_media_link');
        let index = collectionHolder.find('input[type="file"]').length;

        addMediaButton.on('click', function() {
            let prototype = collectionHolder.data('prototype');
            let newForm = prototype.replace(/__name__/g, index);
            collectionHolder.append('<div class="media-form-group mb-3">' + newForm + '<button type="button" class="remove-media btn btn-danger mt-2">Remove</button></div>');
            index++;
        });

        // Use event delegation to handle click event for dynamically added remove buttons
        collectionHolder.on('click', '.remove-media', function(e) {
            e.preventDefault();
            $(this).closest('.media-form-group').remove();
        });
    });
</script>

{% endblock %}
