{% extends 'site.html.twig' %}

{% block title %}Courses{% endblock %}

{% block content %}
    <section class="content">
        <div class="container-fluid">
            <h2>List of Courses</h2>
            <div class="row" style="gap: 0.8rem;">
                {% for cours in pagination %}
                    <div class="card" style="width: 25vw;">
                        <img class="card-img-top"
                             src="{{ asset(random(['images/php_Elephant.jpg', 'images/php_Elephant_V2.jpg', 'images/php_Elephant_V3.jpg'])) }}"
                             alt="image of the course"
                             style="height: 20vh; object-fit: cover;">
                        <div class="card-body">
                            <h3 class="card-title font-weight-bold">{{ cours.label }}</h3>
                            <p class="card-text">
                                {{ cours.description|raw|length > 50 ? cours.description|slice(0, 50) ~ '...' : cours.description }}
                            </p>

                            <a href="{{ url('app_cours_details', {'id': cours.id}) }}" class="btn btn-primary">More info</a>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="pagination">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </section>
{% endblock %}
